#Obligaciones de Clientes

Extracción y preparación

In [20]:
#Importación de las Librerias necesarias
import pandas as pd
import numpy as np

In [21]:
#Cargue de la información en Dataframes
#Archivo Obligaciones: Contiene la información de las obligaciones de los clientes con su respectivo detalle como lo es el valor, producto, plazo, entre otras (Más información en la hoja metadata del archivo)
obligaciones = 'Obligaciones_clientes.xlsx' 
#Archivo Tasas: tasas_productos: Contiene la tasa de interés de cada producto (Más información en la hoja metadata del archivo)
tasas = 'tasas_productos.xlsx'

#Creamos el df con las obligaciones
df_obl = pd.read_excel(obligaciones,sheet_name='Obligaciones_clientes')
#Creamos el df con las tasas
df_tas = pd.read_excel(tasas,sheet_name='Tasas')

Visualización y comprensión y ajuste de los datos

In [22]:
df_obl.head()

,radicado,num_documento,cod_segm_tasa,cod_subsegm_tasa,cal_interna_tasa,id_producto,tipo_id_producto,valor_inicial,fecha_desembolso,plazo,cod_periodicidad,periodicidad,saldo_deuda,modalidad,tipo_plazo
0,14427616502,1081648945,5,2,C4,OEL - operacion_especifica,cod_plan - producto,1.050000e+06,2023-01-31,60.0,1,MENSUAL,1.050000e+06,Nuevo,LP
1,14427616257,1032058622,2,-1,R1,0000000000097492172 - 29-Cartera Total,Obligacion - producto,2.848500e+05,2021-09-30,61.0,1,MENSUAL,2.414313e+05,Actual,LP
2,14427615471,1081374249,5,2,C4,OEL - leasing,cod_plan - producto,7.528858e+04,2023-01-31,60.0,1,MENSUAL,7.528858e+04,Nuevo,LP
3,14426546522,996136114,5,1,C1,0000000090000272791 - 29-Cartera Total,Obligacion - producto,6.240000e+05,2021-09-30,121.0,1,MENSUAL,4.375334e+05,Actual,LP
4,14427616197,1080662762,5,2,C4,0000000090000242224 - 29-Cartera Total,Obligacion - producto,1.909350e+05,2021-12-31,48.0,1,MENSUAL,1.159688e+05,Actual,LP

In [46]:
#Calculamos Nombre del producto en nueva columna

df_obl['nombre_producto'] = df_obl['id_producto'].apply(lambda x: x.rsplit('-',1)[1]).str.strip().apply(lambda x: x.split(' ',1)[0]).str.strip().str.lower()
nombre_producto=df_obl['nombre_producto'].drop_duplicates()
nombre_producto

0      operacion_especifica
1                   cartera
2                   leasing
63                  tarjeta
156                    sufi
173               factoring
238             hipotecario
Name: nombre_producto, dtype: object

In [47]:
#Visualizamos las tasas
df_tas.head()

,cod_segmento,segmento,cod_subsegmento,calificacion_riesgos,tasa_cartera,tasa_operacion_especifica,tasa_hipotecario,tasa_leasing,tasa_sufi,tasa_factoring,tasa_tarjeta
0,9,NEGOCIOS E INDEPENDIENTES,-1,C12,0.259170,0.242689,0.184613,0.146794,0.134048,0.146465,0.3867
1,9,NEGOCIOS E INDEPENDIENTES,-1,C11,0.250350,0.239824,0.206170,0.137014,0.126061,0.158310,0.3867
2,9,NEGOCIOS E INDEPENDIENTES,-1,C10,0.244242,0.237597,0.089940,0.137798,0.116774,0.164796,0.3867
3,9,NEGOCIOS E INDEPENDIENTES,-1,C9,0.232909,0.233487,0.159345,0.143824,0.123468,0.168163,0.3867
4,9,NEGOCIOS E INDEPENDIENTES,-1,C8,0.223275,0.228521,0.137500,0.144439,0.189358,0.175926,0.3867

Union de la base de obligaciones con la información de la tasa correspondiente.

In [53]:
df_obl_tas = pd.merge(df_obl,df_tas,left_on=['cod_segm_tasa','cod_subsegm_tasa','cal_interna_tasa'],right_on=['cod_segmento','cod_subsegmento','calificacion_riesgos'], how ='left')
df_obl_tas.head()

,radicado,num_documento,cod_segm_tasa,cod_subsegm_tasa,cal_interna_tasa,id_producto,tipo_id_producto,valor_inicial,fecha_desembolso,plazo,...,segmento,cod_subsegmento,calificacion_riesgos,tasa_cartera,tasa_operacion_especifica,tasa_hipotecario,tasa_leasing,tasa_sufi,tasa_factoring,tasa_tarjeta
0,14427616502,1081648945,5,2,C4,OEL - operacion_especifica,cod_plan - producto,1.050000e+06,2023-01-31,60.0,...,PYME,2,C4,0.190215,0.202839,0.169201,0.134434,0.111939,0.150932,0.3867
1,14427616257,1032058622,2,-1,R1,0000000000097492172 - 29-Cartera Total,Obligacion - producto,2.848500e+05,2021-09-30,61.0,...,Empresarial,-1,R1,0.121857,0.125405,0.081032,0.082563,0.072089,0.128401,0.3867
2,14427615471,1081374249,5,2,C4,OEL - leasing,cod_plan - producto,7.528858e+04,2023-01-31,60.0,...,PYME,2,C4,0.190215,0.202839,0.169201,0.134434,0.111939,0.150932,0.3867
3,14426546522,996136114,5,1,C1,0000000090000272791 - 29-Cartera Total,Obligacion - producto,6.240000e+05,2021-09-30,121.0,...,PYME,1,C1,0.193960,0.200086,0.126630,0.127506,0.058169,0.190565,0.3867
4,14427616197,1080662762,5,2,C4,0000000090000242224 - 29-Cartera Total,Obligacion - producto,1.909350e+05,2021-12-31,48.0,...,PYME,2,C4,0.190215,0.202839,0.169201,0.134434,0.111939,0.150932,0.3867

In [54]:
#realizamos la asignación de la tasa segun el tipo de producto.
df_obl_tas['tasa_producto']= df_obl_tas.apply(lambda row : row[f'tasa_{row["nombre_producto"]}'],axis=1)
df_tasas_x_pro = df_obl_tas.groupby('nombre_producto')[]
tasa_por_producto

,radicado,num_documento,cod_segm_tasa,cod_subsegm_tasa,cal_interna_tasa,id_producto,tipo_id_producto,valor_inicial,fecha_desembolso,plazo,...,cod_subsegmento,calificacion_riesgos,tasa_cartera,tasa_operacion_especifica,tasa_hipotecario,tasa_leasing,tasa_sufi,tasa_factoring,tasa_tarjeta,tasa_producto
0,14427616502,1081648945,5,2,C4,OEL - operacion_especifica,cod_plan - producto,1.050000e+06,2023-01-31,60.0,...,2,C4,0.190215,0.202839,0.169201,0.134434,0.111939,0.150932,0.3867,0.202839
1,14427616257,1032058622,2,-1,R1,0000000000097492172 - 29-Cartera Total,Obligacion - producto,2.848500e+05,2021-09-30,61.0,...,-1,R1,0.121857,0.125405,0.081032,0.082563,0.072089,0.128401,0.3867,0.121857
2,14427615471,1081374249,5,2,C4,OEL - leasing,cod_plan - producto,7.528858e+04,2023-01-31,60.0,...,2,C4,0.190215,0.202839,0.169201,0.134434,0.111939,0.150932,0.3867,0.134434
3,14426546522,996136114,5,1,C1,0000000090000272791 - 29-Cartera Total,Obligacion - producto,6.240000e+05,2021-09-30,121.0,...,1,C1,0.193960,0.200086,0.126630,0.127506,0.058169,0.190565,0.3867,0.193960
4,14427616197,1080662762,5,2,C4,0000000090000242224 - 29-Cartera Total,Obligacion - producto,1.909350e+05,2021-12-31,48.0,...,2,C4,0.190215,0.202839,0.169201,0.134434,0.111939,0.150932,0.3867,0.190215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2043,14427616294,109325188,9,-1,C14,OPE - operacion_especifica,cod_plan - producto,6.750000e+04,2021-11-25,36.0,...,-1,C14,0.278318,0.257292,0.141497,0.146241,0.141132,0.154630,0.3867,0.257292
2044,14427615890,960246199,5,4,C16,RLP - cartera,cod_plan - producto,5.325000e+05,2022-07-28,12.0,...,4,C16,0.279129,0.228001,0.157402,0.115173,0.062429,0.146901,0.3867,0.279129
2045,14427615829,1080515925,5,3,C12,OPE - operacion_especifica,cod_plan - producto,6.586189e+04,2022-02-04,12.0,...,3,C12,0.228056,0.209583,0.154094,0.123442,0.102912,0.152728,0.3867,0.209583
2046,14427616509,1080240535,5,2,C8,OPE - operacion_especifica,cod_plan - producto,6.000000e+04,2022-02-03,12.0,...,2,C8,0.210082,0.210004,0.149472,0.122656,0.118849,0.177184,0.3867,0.210004
2047,14427615776,1080188275,5,3,C1,RLP - cartera,cod_plan - producto,5.610000e+04,2020-05-04,36.0,...,3,C1,0.167614,0.170055,0.125200,0.101370,0.089473,0.159783,0.3867,0.167614